h1{
    color: rgb(0, 0, 0)
}
body{
    text-align: center;
    background-color: rgb(0, 0, 0);
    background-image: url("guys-i-need-help-finding-the-goofiest-bounce-edit-animation-v0-kqxj4hir3vgf1.gif")
    
    
}
img{
    width: 800px;
    margin-top: 8px;
}



.cartao{
background-color: rgb(163, 0, 0);
width: 800px;
margin: auto;
border-radius: 20px;
border-style: groove;

}